
<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Roles</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.getAuthorities()}"></td>
                <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/admin/add-user">Add a new user</a></p>
</div>
<br>
<a href="#" th:href="@{/logout}">log Out</a>

</body>
</html>